// This file must be imported before loading html5-boilerplate

$page-width:960px;

//branding
$brand-color: #b94a19;
$serif:Georgia, "Times New Roman", Times, serif;
$sans: Arial, Helvetica, sans-serif;
$book:$sans;
$bold:$sans;
$italic:$sans;
$bold-italic:$sans;


// base
$base-background-color: #fff;
$base-font-family: $sans;
$base-font-size: 13px;
$base-line-height: 1.231;
$font-color: #222;

// Links
$link-color: $brand-color;
$link-visited-color: #551a8b;
$link-hover-color: #06e;
$link-underlines: none;
$link-hover-underlines: underline;

// Lists
$list-left-margin: 40px;




