@import "partials/vars";
@import "html5-boilerplate";
@import "compass/css3";
@import "compass-penner-easing";
@import "animation"; // https://github.com/ericam/compass-animation
@import "partials/mixins";
@import "partials/animations";

@include html5-boilerplate-normalize((
  html5,
  base,
  selection,
  lists,
  links,
  images
));

@mixin is-page {
	width:$page-width;
	margin:auto;
}
@mixin bold-font{
	font-family: $bold;
	font-weight: 700;
}

@mixin book-font{
	font-family: $book;
	font-weight: 300;
}
@mixin italic-font{
	font-family: $book;
	font-weight: 300;
	font-style: italic;
}
@mixin bold-italic-font{
	font-family: $italic;
	font-weight: 700;
	font-style: italic;
}


body {}

#view {}

#header {}

#main {}

#footer {}


@include html5-boilerplate-helpers((
  hidden,
  clearfix
));

